:root[data-theme="tiger-theme"],
.tiger-theme {
  --color-highlight: 245, 158, 11;
  --color-bg: 249, 250, 251;
  --color-bg-nav: 243, 244, 246;
  --color-text-main: 31, 41, 55;
  --color-text-muted: 252, 211, 77;
  --color-text-invert: 254, 252, 232;
  --color-fill-main: 251, 113, 133;
  --color-fill-muted: 255, 241, 242;
}
