// 一些自己常用的 css 类与设置
html,
body {
  @apply bg-base text-main  selection:bg-muted selection:text-highlight;
  margin: 0;
  padding: 0;
  height: 100%;
}
a {
  @apply text-highlight hover:text-highlight/50;
  // FIXME 这里 被 text inherit 替换了
}
// FIXME 会和 element-ui 冲突
.tw-input {
  @apply rounded-md border-2 border-highlight bg-base caret-highlight focus:outline-none focus-visible:ring focus-visible:ring-highlight/50;
}
#app {
  height: 100%;
}

.flex-center {
  @apply flex items-center justify-center;
}
.el-container {
  height: 100%;
}
