html,
body {
  &.dark {
    @apply bg-black text-white;
  }
  margin: 0;
  padding: 0;
  height: 100%;
}
#app {
  height: 100%;
}

.flex-center {
  @apply flex justify-center items-center;
}
.el-container {
  height: 100%;
}
